.btn {
    outline: 0;
    border: 0;
    background: 0;
    padding: 0;
    -webkit-appearance: none;
    width: 100%;
}

.btn-outline {
    border: 1px solid #F7D65C;
    color: #F7D65C;
    background: transparent;
    transition: .5s;
    &:hover {
        border: 1px solid transparent;
        color: #20639C;
        background: white;
    }
}